<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Your Cart</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Your Cart</h1>
        <div class="row">
            {% if cart %}
                {% for item in cart %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">Price: ${{ item.price }}</p>
                            <p class="card-text">Quantity: {{ item.quantity }}</p>
                            <!-- Pass product ID, name, and price to the checkout route -->
                            <a href="{{ url_for('checkout', product_id=item.product_id, name=item.prodcut_name, price=item.price) }}" class="btn btn-primary mt-4">
                                Checkout This Item
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
        </div>

    </div>
</body>
</html>
